@model IEnumerable<GlobalProcess.Core.Models.DynamicForm>

<h1>Forms</h1>
<a href="@Url.Action("Create", "Form")">Create New Form</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Form", new { id = item.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", "Form", new { id = item.Id })">Delete</a> |
                    <a href="@Url.Action("AddField", "Form", new { formId = item.Id })">Add Fields</a>
                </td>
            </tr>
        }
    </tbody>
</table>
